<p> Dear <b>{{ clientFullName }}</b>,</p>

   <P> Hope this email finds you well.</P>

   <P> This is a friendly reminder that Invoice: {{ id }} is due today.</P>

    If you have already paid this invoice, please ignore this reminder.
</P>